  body {
    font-family: monospace;
    /*font-family: Menlo,Monaco,Consolas,"CourierNew",monospace;*/
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font: 20px Montserrat, sans-serif;*/
    line-height: 1.8;
    color: #f5f6f7;
  }

/*////////NAVBAR///////*/
  .navbar {
      background-image: url("https://s-media-cache-ak0.pinimg.com/736x/f1/89/85/f189852fa838b839fcd15e497f33707b.jpg");
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0px;
      font-size: 12px;
      letter-spacing: 5px;
  }

  nav.navbar.navbar-default {
    /*margin-bottom: 0%;*/
    border-radius: 0px;
    border: 0px;
  }

  .navbar-nav  li a:hover {
      font-size: 2em;
      color: #1abc9c !important;
  }

 a {
    font-size: 1.4em;
    color: #57356F;
    font-family: 'Asap', sans-serif;
    font-weight: 700;
  }
 /*////////END OF NAVBAR///////*/

  .subtitles {
    font-size: 2em;
    font-weight: bold;
    font-family: monospace;
    padding-top: 4%;
    margin-bottom: 0px;
    color: #333;
/*   -webkit-text-fill-color: #D3D679;
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;*/
  }

  h3 {
    font-family: monospace;
  }

  .a-tag {
    color: #BB3A56;
  }
  
  #my-name {
    font-size: 1.9em;
  }

  #my-name:hover {
    color: #1abc9c;
    font-size: 2.5em;
  }

  p {
    font-size: 20px;
    font-family: 'Ropa Sans', sans-serif;
    /*font-family: 'Cuprum', sans-serif;*/
    /*font-family: Menlo,Monaco,Consolas,"CourierNew",monospace;*/
  }

/*////////ABOUT ME///////*/

  #profile-pic {
    border-radius: 25px;
    padding: 6% 4% 0 5%;
    vertical-align: middle;
    overflow: hidden;
  }

  .about-me-p {
    vertical-align: middle;
    font-size: 24px;
    font-family: 'Asap', sans-serif;
    margin-bottom: 0;
  }
/*
  .fa-heart:before {
   color: red;
  }*/

  .redheart {
    font-size: .7em;
    padding-right: 1%;
    color: red;
  }

  #left-right-div {
    vertical-align: middle;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 25px;
  }

  #left {
    float: left;
    clear: right;
    overflow: hidden;
  }

  /*////////END OF ABOUT ME///////*/

  .margin {
    margin-bottom: 45px;
  }

  .bg-1 { 
    /*  background-image: url("../images/purplefabric.jpg");
      background-size: cover;*/
      /*background-image: url("http://s7.favim.com/610/150527/anchor-purple-wallpaper-Favim.com-2768197.jpg");*/

      background-color: pink; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #1abc9c;
      /*background-color: #ffffff; /* White */*/
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }


/*////////PORFOLIO///////*/

  .project-img {
    width: 80%;
  }

  .purp-github {
    width: 10%;
    margin-bottom: 1%;
  }

  .purp-github:hover {
    font-size: 1.4em;
  }

  .social-media {
     width: 3%;
  }


  #about-me {
    width: 60%;
    margin: 0 auto;
    font-family: 'Abel', sans-serif;
  }

  .project-link {
    font-size: 1.6em;
    color: #DB5164;
  }

  .project-link:hover {
    color: #DB5164;
    font-size: 1.8em;
  }
  
 /* #mnm-div {
    margin-top: 20%;
  }

  #trippin-div {
    margin-top: 29%;
  }*/


  .project-title {
    font-size: 2em;
    color: #333;
    /*color: #5E2B6B;*/
    font-family: monospace;
  }
  
  .purple {
    color: #5E2B6B;
  }

  /*////////SKILLS///////*/
  
  .skills {
    margin: 3%;
    border-radius: 5px;
    width: 7%;
  }

  #angularjs {
    width: 10%;
  }

  #html5 {
    width: 10%;
  }

